#HTML {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: html 10s ease-in-out infinite;
          animation: html 10s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes html {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(2) rotate(360deg);
            transform: scale(2) rotate(360deg);
  }
  20% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
  30% {
    -webkit-transform: scale(1) rotate(360deg) translate(600px, 100px);
            transform: scale(1) rotate(360deg) translate(600px, 100px);
  }
  40% {
    -webkit-transform: scale(2) rotate(360deg) translate(400px, 200px);
            transform: scale(2) rotate(360deg) translate(400px, 200px);
  }
  50% {
    -webkit-transform: scale(1) rotate(360deg) translate(-100px, 100px);
            transform: scale(1) rotate(360deg) translate(-100px, 100px);
  }
  60% {
    -webkit-transform: scale(1) rotate(360deg) translate(-200px, -100px);
            transform: scale(1) rotate(360deg) translate(-200px, -100px);
  }
  70% {
    -webkit-transform: scale(1) translate(500px, -200px);
            transform: scale(1) translate(500px, -200px);
  }
  80% {
    -webkit-transform: scale(1) rotate(360deg) translate(600px, 100px);
            transform: scale(1) rotate(360deg) translate(600px, 100px);
  }
  90% {
    -webkit-transform: scale(1) rotate(360deg) translate(0px, 0px);
            transform: scale(1) rotate(360deg) translate(0px, 0px);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes html {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(2) rotate(360deg);
            transform: scale(2) rotate(360deg);
  }
  20% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
  30% {
    -webkit-transform: scale(1) rotate(360deg) translate(600px, 100px);
            transform: scale(1) rotate(360deg) translate(600px, 100px);
  }
  40% {
    -webkit-transform: scale(2) rotate(360deg) translate(400px, 200px);
            transform: scale(2) rotate(360deg) translate(400px, 200px);
  }
  50% {
    -webkit-transform: scale(1) rotate(360deg) translate(-100px, 100px);
            transform: scale(1) rotate(360deg) translate(-100px, 100px);
  }
  60% {
    -webkit-transform: scale(1) rotate(360deg) translate(-200px, -100px);
            transform: scale(1) rotate(360deg) translate(-200px, -100px);
  }
  70% {
    -webkit-transform: scale(1) translate(500px, -200px);
            transform: scale(1) translate(500px, -200px);
  }
  80% {
    -webkit-transform: scale(1) rotate(360deg) translate(600px, 100px);
            transform: scale(1) rotate(360deg) translate(600px, 100px);
  }
  90% {
    -webkit-transform: scale(1) rotate(360deg) translate(0px, 0px);
            transform: scale(1) rotate(360deg) translate(0px, 0px);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

#JS {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: js 10s ease-in-out infinite;
          animation: js 10s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes js {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: scale(0.5) rotate(360deg);
            transform: scale(0.5) rotate(360deg);
  }
  20% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  40% {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  50% {
    -webkit-transform: scale(2) rotate(360deg);
            transform: scale(2) rotate(360deg);
  }
  60% {
    -webkit-transform: scale(1) rotate(-360deg);
            transform: scale(1) rotate(-360deg);
  }
  70% {
    -webkit-transform: scale(0) translateX(50px) rotate(360deg);
            transform: scale(0) translateX(50px) rotate(360deg);
  }
  80% {
    -webkit-transform: scale(2) translateY(50px) rotate(360deg);
            transform: scale(2) translateY(50px) rotate(360deg);
  }
  90% {
    -webkit-transform: scale(1) translate(0 0) rotate(-360deg);
            transform: scale(1) translate(0 0) rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes js {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: scale(0.5) rotate(360deg);
            transform: scale(0.5) rotate(360deg);
  }
  20% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  40% {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  50% {
    -webkit-transform: scale(2) rotate(360deg);
            transform: scale(2) rotate(360deg);
  }
  60% {
    -webkit-transform: scale(1) rotate(-360deg);
            transform: scale(1) rotate(-360deg);
  }
  70% {
    -webkit-transform: scale(0) translateX(50px) rotate(360deg);
            transform: scale(0) translateX(50px) rotate(360deg);
  }
  80% {
    -webkit-transform: scale(2) translateY(50px) rotate(360deg);
            transform: scale(2) translateY(50px) rotate(360deg);
  }
  90% {
    -webkit-transform: scale(1) translate(0 0) rotate(-360deg);
            transform: scale(1) translate(0 0) rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#webpack {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: webpack 5s infinite linear;
          animation: webpack 5s infinite linear;
  transform-box: fill-box;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes webpack {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes webpack {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#angular {
  -webkit-animation: angular 6s infinite linear;
          animation: angular 6s infinite linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes angular {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: translate(600px, -200px) scale(1);
            transform: translate(600px, -200px) scale(1);
  }
  50% {
    -webkit-transform: translate(600px, -200px) scale(2);
            transform: translate(600px, -200px) scale(2);
  }
  75% {
    -webkit-transform: translate(0px, 0px) scale(0);
            transform: translate(0px, 0px) scale(0);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
  }
}

@keyframes angular {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: translate(600px, -200px) scale(1);
            transform: translate(600px, -200px) scale(1);
  }
  50% {
    -webkit-transform: translate(600px, -200px) scale(2);
            transform: translate(600px, -200px) scale(2);
  }
  75% {
    -webkit-transform: translate(0px, 0px) scale(0);
            transform: translate(0px, 0px) scale(0);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
  }
}

#cPanel {
  -webkit-animation: cPanel 1s infinite linear;
          animation: cPanel 1s infinite linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes cPanel {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cPanel {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#Babel {
  -webkit-animation: Babel 1s infinite linear;
          animation: Babel 1s infinite linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes Babel {
  to {
    stroke: orange;
  }
}

@keyframes Babel {
  to {
    stroke: orange;
  }
}

#vscode {
  -webkit-animation: vscode 1s infinite linear;
          animation: vscode 1s infinite linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes vscode {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes vscode {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#bootstrap {
  -webkit-animation: bootstrap 3s infinite linear;
          animation: bootstrap 3s infinite linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes bootstrap {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes bootstrap {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

#CSS {
  -webkit-animation: CSS 3s infinite linear;
          animation: CSS 3s infinite linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes CSS {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, 400px);
            transform: translate(0, 400px);
  }
  50% {
    -webkit-transform: translate(1000px, 400px);
            transform: translate(1000px, 400px);
  }
  75% {
    -webkit-transform: translate(1000px, -200);
            transform: translate(1000px, -200);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes CSS {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, 400px);
            transform: translate(0, 400px);
  }
  50% {
    -webkit-transform: translate(1000px, 400px);
            transform: translate(1000px, 400px);
  }
  75% {
    -webkit-transform: translate(1000px, -200);
            transform: translate(1000px, -200);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

#GitHub {
  -webkit-animation: GitHub 3s infinite linear;
          animation: GitHub 3s infinite linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes GitHub {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes GitHub {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#React {
  -webkit-animation: React 6s infinite linear;
          animation: React 6s infinite linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes React {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
            transform: translate(0px, 0px) rotate(360deg);
  }
  25% {
    -webkit-transform: translate(900px, -600px) rotate(180deg);
            transform: translate(900px, -600px) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(900px, -600px) scale(0);
            transform: translate(900px, -600px) scale(0);
  }
  75% {
    -webkit-transform: translate(0px, 0px) scale(2);
            transform: translate(0px, 0px) scale(2);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
  }
}

@keyframes React {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
            transform: translate(0px, 0px) rotate(360deg);
  }
  25% {
    -webkit-transform: translate(900px, -600px) rotate(180deg);
            transform: translate(900px, -600px) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(900px, -600px) scale(0);
            transform: translate(900px, -600px) scale(0);
  }
  75% {
    -webkit-transform: translate(0px, 0px) scale(2);
            transform: translate(0px, 0px) scale(2);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
  }
}

#wordpress {
  -webkit-animation: wordpress 2s infinite linear;
          animation: wordpress 2s infinite linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes wordpress {
  from {
    stroke: blue;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    stroke: black;
  }
}

@keyframes wordpress {
  from {
    stroke: blue;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    stroke: black;
  }
}

@media only screen and (max-width: 955px) {
  .info {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    width: 25rem !important;
    height: 10rem !important;
  }
}

@media only screen and (max-width: 770px) {
  .info {
    top: -2rem !important;
    right: 0 !important;
    background-color: transparent !important;
    width: 100% !important;
  }
  .info p {
    font-size: 1rem !important;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .info a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contentImgFull {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contentImgFull .contentImg {
    width: 100%;
  }
  .footer svg {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-10px, -30px);
            transform: translate(-10px, -30px);
  }
}

@media only screen and (max-width: 600px) {
  .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list .firstImg {
    max-width: 9rem;
    max-height: 9rem;
  }
  .list .secondImg {
    max-width: 9rem;
    max-height: 9rem;
  }
  .list .thirdImg {
    max-width: 9rem;
    max-height: 9rem;
  }
  .h {
    width: 15rem;
    height: 5rem;
  }
  .h h1 {
    font-size: 1.4rem;
  }
  .h h3 {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 500px) {
  .firstUp,
  .secondUp,
  .thirdUp,
  .fourthUp {
    width: 13rem !important;
    height: 18rem !important;
    overflow: hidden !important;
  }
  .firstDown,
  .secondDown,
  .thirdDown,
  .fourthDown {
    width: 13rem !important;
    height: 18rem !important;
    overflow: hidden !important;
  }
}

@media only screen and (max-width: 430px) {
  .nav .list a {
    font-size: 1.5rem;
  }
  .contentAbout .contentText .h {
    height: 6rem !important;
  }
  .contentAbout .contentText .h h1 {
    font-size: 1.4rem;
  }
  .contentAbout .contentText .h h3 {
    font-size: 0.9rem;
  }
  .contentAbout .contentText .firstP {
    font-size: 0.9rem !important;
  }
  .contentAbout .contentText .secondP {
    font-size: 0.9rem !important;
  }
}
/*# sourceMappingURL=responsive.css.map */